/* Add here all your CSS customizations */
.readon {
    background: #db2127;
    border-radius: .25rem;
    border-color: #db2127;
    font-size: .8em !important;
    text-transform: uppercase !important;
    height: 3em;
}

.inputbox {
    font-size: .8em !important;
    text-transform: uppercase !important;
    border-radius: .25rem;
    border-color: rgba(0, 0, 0, 0.09);
    height: 3em;
    width: 20em;
}

.mc4wp-form-fields p {
    margin: 0;
}


.pb-5, .py-5 {
    padding-bottom: 2.5rem!important;
    padding-top: 2.5rem!important;
}
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }